$base-font-size: 16px;
$primary-color: #ffdab9;

body {
  font-size: $base-font-size;
  background-color: $primary-color;
}

p {
  color: orange;
  font-weight: bold;
  font-size: 40px;
}
