$base-font-size: 20px;
$primary-color: #ffdab9;
$font-family: "Roboto";

body {
  font-size: $base-font-size;
  background-color: $primary-color;
}

p {
  color: orange;
  font-weight: bold;
  font-size: $base-font-size;
}
h1 {
  font-size: 100px;
  color: rgb(0, 154, 0);
  font-family: $font-family;
}
